/* Fichier principal */
body { background-color: var(--color-black); }

.main-content { padding: 4rem 0; }

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.loading-text {
    text-align: center;
    grid-column: 1 / -1;
    padding: 3rem;
    color: var(--color-light-gray);
}
